.bodycategorias{
    height: 113vh;
    header{
        height: 10vh;
        .navbar{
            background-color: map-get($paleta-colores, "marron" ) ;
            color: map-get($paleta-colores, "negro" );
        }
    }
    main{
        height: 60vh;
        h1{
            color: map-get($paleta-colores, "celeste" );
        }
        h3{
            color: map-get($paleta-colores, "celeste" );
        }
        .card{
            box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
            transition: all 400ms ease;
        }
        .card:hover{
            box-shadow: 5px 5px 20px rgba(0,0,0,0.4) ;
            transform: translateY(-3%);
        }
        .btn{
            background-color:map-get($paleta-colores, "marron" ); 
        }
        // Responsive main
        @include mobile{
            height: 135vh;
        }
    }
    footer{
        height: 43vh;
        background-color:map-get($paleta-colores, "marron" );
        // Responsive footer
        @include mobile{
            height: 50vh;
        }
    }
    // Responsive body
    @include mobile{
        height: 195vh;
    }
}